{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="class row">
        <div class="class col-sm-offset col-sm-10">
            <button name='save' type='submit' value='save' class='btn btn-primary'>{{ button_label|default('Save') }}</button>
            <button name='cancel' type='submit' value='cancel' class='btn btn-cancel' formnovalidate='formnovalidate'>Cancel</button>
        </div>
    </div>

{#    <button class="btn btn-primary">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}