{% extends 'base.html.twig' %}

{% block title %} CSV values loaded {% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">CSV Data Import Report</li>
    </ol>


    {% if csvExist == false %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong><p>No CSV files in given directory: {{ path }}</p>
        </div>
    {% elseif newValue == true %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong><p>Loaded new {{ dataValues|length }} values</p>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Valore</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in dataValues %}
                <tr class="table-success">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Info!</strong><p>No new values found in csv files: {{ path }}</p>
        </div>        
    {% endif %}
    {% if wrongFileList %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong><p>Not CSV files in given directory: {{ path }}</p>
            <table class="table table-hover">
                <tbody>
                    {% for value in wrongFileList %}
                        {% if value != "." and value != ".." %}
                            <tr class="table-light">
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <a href="{{ path('network_element_index') }}">back to list</a>
{% endblock %}