{% extends 'base.html.twig' %}

{% block title %}NetworkElement index{% endblock %}

{% block body %}
    <h1>NetworkElement index</h1>

    <table id="netelements" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Capacity</th>
                <th>CapacityType</th>
                <th>CSV capacity name</th>
                <th>Statistic Directory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for network_element in network_elements %}
            <tr>
                <td>{{ network_element.id }}</td>
                <td>{{ network_element.nome }}</td>
                <td>{{ network_element.capacity }}</td>
                <td>{{ network_element.capacityType }}</td>
                <td>{{ network_element.csvCapacityTypeName }}</td>
                <td>{{ network_element.directoryStatistiche }}</td>
                <td>
                    <p><a class="btn btn-secondary" href="{{ path('network_element_show', {'id': network_element.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('network_element_edit', {'id': network_element.id}) }}">edit</a>
                    <a class="btn btn-danger" data-id="{{network_element.id}}" href="#">delete</a></p>
                    <p><a class="btn btn-outline-primary" href="{{ path('network_element_graph', {'id': network_element.id}) }}">graph</a></p>
                    <a class="btn btn-outline-secondary" href="{{ path('network_element_upload_csv', {'id': network_element.id}) }}">Upload CSV</a>
                    <a class="btn btn-outline-secondary" href="{{ path('network_element_backup_csv', {'id': network_element.id}) }}">Backup CSV</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="{{ path('network_element_new')}}" class="nav-link">New Network Element</a>
{% endblock %}
{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}