{% extends 'base.html.twig' %}

{% block title %}NetworkElement index{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('/css/bootstrap-table.css')}}">
{% endblock %}

{% block body %}
    <h1>NetworkElement index</h1>
    <div id="toolbar">
        <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>
    <table id="netelements"
        data-toggle="table"
        data-search="true"
        data-show-export="true"
        data-pagination="true"
        data-click-to-select="true"
        data-toolbar="#toolbar">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="id" data-filter-control="input" data-sortable="true">Id</th>
                <th data-field="nome" data-filter-control="input" data-sortable="true">Nome</th>
                <th data-field="capacity" data-filter-control="input" data-sortable="true">Capacity</th>
                <th data-field="capacityType" data-filter-control="input" data-sortable="true">Capacity Type</th>
                <th data-field="CSVColumnName" data-filter-control="input" data-sortable="true">CSV column name</th>
                <th data-field="CSVFilesDirectory" data-filter-control="input" data-sortable="true">CSV files directory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for network_element in network_elements %}
            <tr>
                <td class="bs-checkbox "><input data-index="{{ network_element.id }}" name="btSelectItem" type="checkbox"></td>
                <td>{{ network_element.id }}</td>
                <td>{{ network_element.nome }}</td>
                <td>{{ network_element.capacity }}</td>
                <td>{{ network_element.capacityType }}</td>
                <td>{{ network_element.csvCapacityTypeName }}</td>
                <td>{{ network_element.directoryStatistiche }}</td>
                <td>
                    <p><a class="btn btn-secondary" href="{{ path('network_element_show', {'id': network_element.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('network_element_edit', {'id': network_element.id}) }}">edit</a>
                    <a class="btn btn-danger" data-id="{{network_element.id}}" href="#">delete</a></p>
                    <p>
                        <a class="btn btn-outline-primary" href="{{ path('network_element_graph', {'id': network_element.id}) }}">graph</a>
                        <a class="btn btn-outline-primary" href="{{ path('network_element_delete_stat', {'id': network_element.id}) }}">Delete data</a>
                    </p>
                    <a class="btn btn-outline-secondary" href="{{ path('network_element_upload_csv', {'id': network_element.id}) }}">Upload CSV</a>
                    <a class="btn btn-outline-secondary" href="{{ path('network_element_backup_csv', {'id': network_element.id}) }}">Backup CSV</a>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <p><a class="pull-right btn btn-outline-primary" href="{{ path('network_element_new')}}" class="nav-link">New Network Element</a></p>
{% endblock %}

{% block javascripts %}
<script src="{{asset('/js/bootstrap-table.js')}}"></script>
<script src="{{asset('/js/bootstrap-table-it-IT.js')}}"></script>
<script src="{{asset('/js/bootstrap-table-export.js')}}"></script>
<script type="text/javascript" src="{{asset('/js/tableExport.js')}}"></script>
<script type="text/javascript" src="{{asset('/js/jquery.base64.js')}}"></script>

<script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
           $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script> 
<script src="/js/main.js"></script>
{% endblock %}