{% extends 'base.html.twig' %}

{% block title %}StatisticaRete index{% endblock %}

{% block body %}
    <h1>StatisticaRete index</h1>

    <table id="statistics" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valore</th>
                <th>Data</th>
                <th>Nome_valore</th>
                <th>Elemento_rete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statistica_rete in statistica_retes %}
            <tr>
                <td>{{ statistica_rete.id }}</td>
                <td>{{ statistica_rete.valore }}</td>
                <td>{{ statistica_rete.data ? statistica_rete.data|date('Y-m-d') : '' }}</td>
                <td>{{ statistica_rete.nomeValore }}</td>
                <td>{{ statistica_rete.elementoRete }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('statistica_rete_show', {'id': statistica_rete.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('statistica_rete_edit', {'id': statistica_rete.id}) }}">edit</a>
                    <a class="btn btn-danger" data-id="{{statistica_rete.id}}" href="#">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('statistica_rete_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}