<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('/css/cosmo-bootstrap.css')}}">


        {% block stylesheets %}{% endblock %}
    </head>
    <body style="font-size:1.2rem">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
            <div class="container" >
                <a href="{{ path('home')}}" class="navbar-brand">Network Statistics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mobile-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{{ path('home')}}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('statistica_rete_index')}}" class="nav-link">List Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('statistica_rete_new')}}" class="nav-link">New Statistic</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('network_element_new')}}" class="nav-link">New Element</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('network_element_index')}}" class="nav-link">List Elements</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('cli_rgn_map')}}" class="nav-link">Map Cli-Rgn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        <script src="{{asset('/js/jquery-3.3.1.js')}}"></script>
        <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
