{% extends 'base.html.twig' %}

{% block title %}TrafficReport index{% endblock %}

{% block body %}
{{ form_start(form) }}    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-4">
                <h3>TrafficReport index</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">
                {{ form_widget(form.startDate) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.endDate) }}
            </div>
            <div class="col-sm-4">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
   
    
    <br><br>

    <div id="toolbar">
        <button id="export" class="btn btn-secondary">Export CSV</button>
    </div>
    
    <table id="trafficflows"
            data-toggle="table"
            data-search="true"
            data-pagination="true"
            data-page-size="50"
            data-pagination-loop="true"
            data-advanced-search="true"
            data-id-table="advancedTable" >
        <thead>
            <tr>
                <th data-field="LastTimestamp" data-sortable="true">LastTimestamp</th>
                <th data-field="RouterInName" data-sortable="true">RouterInName</th>
                <th data-field="RouterInIP" data-sortable="true">RouterInIP</th>
                <th data-field="RouterOutName" data-sortable="true">RouterOutName</th>
                <th data-field="RouterOutIP" data-sortable="true">RouterOutIP</th>
                <th data-field="Bandwidth" data-sortable="true">Bandwidth Mbps</th>
            </tr>
        </thead>
        <tbody>
        {% for traffic_report in traffic_reports %}
            <tr>
                <td>{{ traffic_report.lastTimestamp ? traffic_report.lastTimestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ traffic_report.routerInName }}</td>
                <td>{{ traffic_report.routerInIP }}</td>
                <td>{{ traffic_report.routerOutName }}</td> 
                <td>{{ traffic_report.routerOutIP }}</td>
                <td>{{ traffic_report.bandwidth }}</td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('traffic_report_new') }}">Create new</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    $(function () {
        var $table = $('#trafficflows');
        $('#export').click(function () {
            $table.tableExport({
            type: 'csv',
            escape: false
            });
        });
    });
</script>
{% endblock %}
